body{
    background-image: url("images/Binder3.png");
    background-repeat: repeat-y;
    background-color: #4a170b;
    background-position:center top;
}

#wrap{
    width: 440px;
    margin: 0 auto;
    border:none;
}

#frontPageText{
    list-style-image: url("images/arrow.png");
    text-align:left;
    margin-left: 40px;
    font-size:25px;
}

#footer{
    position:absolute;
    bottom:0;
    margin-bottom:13px;
    text-align: center;
    width:530px;
}