body{
    text-align: center;
    background-image: url("images/Binder3.png");
    background-repeat: repeat-y;
    background-color: #4a170b;
    background-position:center top;
  
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}

#wrap{
    width: 450px;
    margin: auto;
    border:none;
    padding-top:20px;
    padding-left: 20px;
}

#frontPageText{
    list-style-image: url("images/arrow.png");
    text-align:left;
    margin-left: 40px;
    font-size:25px;
}

#footer{
    position: absolute;
    bottom:0;
    margin-bottom:13px;
    width:530px;
}
/*
#topbar{
    width: 628px;
    background-image: url("images/topbar.png");
    margin-left:auto;
    margin-right:auto;
    height: 90px;
    margin-top: -10px;
}
*/
#topbar a, #topbar a:link, #topbar a:visited{
    color:black;
    text-decoration:none;
}

a.button, a.button:link, a.button:visited{
    border: none;
    background-repeat:no-repeat;
    display:inline;
    float: left;
    height:60px;
    width:135px;
    color: black;
    font:normal normal 30px Calibri,Tahoma,Verdana,sans-serif;
    background-image:url("images/button.png");
    text-align:center;
    padding-top:18px;
    padding-left: 5px;
    text-decoration: none;
}

a.button:hover{
    background-image:url("images/buttonFilled.png");
    text-decoration:none;
}

#topPane{
    font:normal normal 15px Calibri,Tahoma,Verdana,sans-serif;
}

#topPane a{
    padding-right: 5px;
    padding-left: 5px;

    text-decoration: none;
    color: black;
}

#topPane a:hover{
    text-decoration: underline;
}